<div class="container">
  <div class="row">
    <div class="col col-xs-12 col-sm-12 col-md-3 col-lg-3">
      <div class="row">
        <div class="col">
          <h4 class="card-title">Ratio:</h4>
          <ul>
            <label for="checkbox-current" class="ratio-checkbox">
              <input type="checkbox" id="current-ratio" value="" checked /> Current Ratio
            </label> 
            <label for="checkbox-quick" class="ratio-checkbox">
              <input type="checkbox" id="quick-ratio" value="" /> Quick Ratio
            </label>
            <label for="checkbox-wc" class="ratio-checkbox">
              <input type="checkbox" id="working-capital" value="" /> Working Capital
            </label>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h4 class="card-title">Ratio:</h4>
          <ul>
            <label for="checkbox-current" class="ratio-checkbox">
              <input type="checkbox" id="current-ratio" value="" checked /> Current Ratio
            </label> 
            <label for="checkbox-quick" class="ratio-checkbox">
              <input type="checkbox" id="quick-ratio" value="" /> Quick Ratio
            </label>
            <label for="checkbox-wc" class="ratio-checkbox">
              <input type="checkbox" id="working-capital" value="" /> Working Capital
            </label>
          </ul>
        </div>
      </div>
    </div>
    <div class="col col-xs-12 col-sm-12 col-md-9 col-lg-9">
      <!-- Chart Graph -->
      <div class="card add-space">
        <div class="card-body">
          
        </div>
      </div>
      {{!-- <h4 class="card-title">5-Day Forecast</h4>
      <div class="row">
        <div class="col">
          <div class="card small-card">
            <div class="card-body">
              <h5 class="card-title"><span id="day1-date"></span></h5>
              <img src="" alt="Weather Icon" id="day1-icon">
              <p class="card-text">Temp: <span id="day1-temp"></span></p>
              <p class="card-text">Wind: <span id="day1-wind"></span></p>
              <p class="card-text">Humidity: <span id="day1-humid"></span></p>
            </div>
          </div>
        </div>
      </div> --}}
    </div>
  </div>
</div>