

        <div>

          <div class="search-container">
    

                    <input class="searchbar" id="user-input" type="text" placeholder="Search.." name="search">

                    <button type="submit" id="search-button"><i class="fa fa-search"></i></button>

                </form>

                </div>
            

            <select class="form-control browser-default dropdown" id="ratioChoice">
              {{!-- <option value="" selected="selected">Choose Ratio</option> --}}
              <option value=ratioResult.>Current Ratio</option>
              <option value="workingCapital">Working Capital</option>
              <option value="quickRatio">Quick Ratio</option>

            </select>

        {{!-- chart --}}
        <canvas id="myChart" width="800" height="400"></canvas>


        </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
    <script src="/js/ratio.js"></script>
