

        <div>

          <div class="search-container">
        
                    <form action="/action_page.php">

                    <input class="searchbar" type="text" placeholder="Search.." name="search">

                    <button type="submit"><i class="fa fa-search"></i></button>

                </form>

                </div>
            
        <div class="dropdown">
            <button class="dropbtn" onclick="myFunction()">Choose Ratio Type
              <i class="fa"></i>
            </button>
            <div class="dropdown-content" id="myDropdown">
              <a href="#">Link 1</a>
              <a href="#">Link 2</a>
              <a href="#">Link 3</a>
            </div>
            </div> 

        {{!-- chart --}}
        <canvas id="myChart" width="800" height="400"></canvas>


        </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
    <script src="/public/js/ratio.js"></script>
